body {
  margin: 0;
}

/* parallax "viewport" */
.parallax {
  height: 2976px;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  height: 5000px;
  overflow-y: hidden;
  transform: translateZ(0);
  top: 32rem;
}

.layer2 {
  background-image: url('./assets/iso-beach-orig.jpg');
  transform: translateZ(-5px) scale(6);
}

/* body main {
  img {
    position: absolute;
    margin: 0.5rem auto 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    @media (max-width: 1024px) {
      max-width: 768px;
    }
    @media (min-width: 1024px) {
      max-width: 1024px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }
} */

/* header h1 {
  position: absolute;
  top: 10%;
  left: 68rem;
} */

li {
  p {
    visibility: hidden;
  }
  &:hover p {
    visibility: visible;
  }

  margin-top: 15rem;
  margin-bottom: 15rem;
}

/* Whitehaven Beach, Australia */
/* li:first-child {
  position: absolute;
  bottom: 12rem;
  left: 15rem;
  list-style: none;
} */

/* Lanikai Beach, Hawaii */
/* li:nth-last-child(2) {
  position: absolute;
  bottom: 23rem;
  left: 40rem;
  list-style: none;
} */

/* Bora Bora, French Polynesia */
/* li:nth-last-child(3) {
  position: absolute;
  bottom: 23rem;
  left: 80rem;
  list-style: none;
}

li:nth-child(5) {
  position: absolute;
  top: 10rem;
  list-style: none;
} */
